<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Opret ny film</title>
    <link rel="stylesheet" type="text/css" href="/styles/movie.css">
    <link rel="stylesheet" type="text/css" href="/styles/login.css">
</head>
<body>

<div class="movie-container">
    <div class="left-container">
        <img class="movie-poster" id="moviePoster" alt="Movie Poster">
    </div>
    <div class="right-container">
        <h2>Opret ny film</h2>
        <div class="line"></div>
        <form name="createMovieForm" id="createMovieForm">
            <div class="input-group">
                <label for="title">Titel:</label>
                <div class="dotted-line"></div>
                <input type="text" id="title" name="title" required>
            </div>

            <div class="input-group">
                <label for="genre">Genre:</label>
                <div class="dotted-line"></div>
                <select id="genre" name="genre" required>
                    <option value="horror">Horror</option>
                    <option value="romance">Romance</option>
                    <option value="comedy">Komedi</option>
                    <option value="sci-fi">Sci-Fi</option>
                    <option value="action">Action</option>
                    <option value="thriller">Thriller</option>
                    <option value="adventure">Adventure</option>
                    <option value="animation">Animation</option>
                    <option value="documentary">Dokumentar</option>
                    <option value="drama">Drama</option>
                    <option value="family">Familie</option>
                </select>
            </div>

            <div class="input-group">
                <label for="ageLimit">Aldersbegrænsning:</label>
                <div class="dotted-line"></div>
                <input type="text" id="ageLimit" name="ageLimit" required>
            </div>

            <div class="input-group">
                <label for="description">Beskrivelse:</label>
                <div class="dotted-line"></div>
                <textarea id="description" name="description" maxlength="500"></textarea>
            </div>
            <div class="input-group">
                <label for="duration">Spilletid (min):</label>
                <div class="dotted-line"></div>
                <input type="text" id="duration" name="duration" required>
            </div>

            <div class="input-group">
                <label for="basePrice">Std pris:</label>
                <div class="dotted-line"></div>
                <input type="text" id="basePrice" name="basePrice" required>
            </div>

            <div class="input-group">
                <label for="moviePoster">Billede URL:</label>
                <div class="dotted-line"></div>
                <input type="url" id="moviePoster" name="moviePoster">
            </div>

            <button type="submit" class="button">Opret</button>
        </form>
    </div>
</div>
<script src="/js/login.js"></script>
<script src="/js/create-movie.js"></script>
</body>
</html>