.film {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.titel {
    text-align: center;
}

body {
    font-family: 'Cinzel', serif; /* Old school cinema font */
    color: #FFFEAD; /* Kontrasterende lys tekst */
    letter-spacing: 2px;
}



#day, #day1, #day2, #day3, #day4, #day5, #day6 {
    display: block;
    padding: 15px;
}

.day-item {
    top: 15px;
}

/* til reserver knapper*/
.timeslots-list {
    justify-content: right;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


.timeslots-item {
    font-family: 'Cinzel', serif;
    color: #FFFEAD;
    background-color: #9d2828;
    display: block;
    width: 90px;
    height: 75px;
    margin: 0.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}