.titel {
    text-align: center;
}
body {
    font-family: 'Cinzel', serif; /* Old school cinema font */
    color: #FFFEAD; /* Kontrasterende lys tekst */
    letter-spacing: 2px;
}


#days-container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}
.titel {
    text-transform: uppercase;
    font-size: 1.5rem;
}
.timeslots-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 1rem;
}
.timeslots-item {
    width: 70px;
    height: 70px;
    background-color: #736F72;
    margin: 0.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.timeslots {
    text-align: center;
}