
.margin-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.showtime-box {
    width: 500px;
    height: 750px;
    margin: auto;
    border-radius: 20px;
    background: #9d2828;
    display: block;
    padding: 1.8rem;
    border: 2px solid #110909;
    transition: 0.5s ease-out;
    overflow: visible;
}

.form-container {
    display: flex;
    flex-direction: column; /* Arrange items in a column */
    align-items: center;    /* Center items horizontally */
    justify-content: center; /* Center items vertically */
}

.dropdown {
    display: flex;
    justify-content: center;
}

.dropbutton{
    min-width: 300px;
    border-radius: 5px;
    padding: 5px;
    background-color: #ffffff;
    color: #000000;
}

.dropdown-content a:hover {
    background-color: #dadada;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.showtime-button {
    width: 200px;
    background-color: #ffffff;
    color: #070705;
    border: #0e0e0e;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    font-family: 'Cinzel', serif;
    font-size: 1.5rem;
}