<header>
    <link rel="icon" href="/images/favicon-16x16.png" type="image/png">
    <div id="menuToggle">
        <input id="checkbox" type="checkbox">
        <label class="toggle" for="checkbox">
            <div class="bar bar--top"></div>
            <div class="bar bar--middle"></div>
            <div class="bar bar--bottom"></div>
        </label>

        <!-- Skjult menu (vises ved klik på hamburger-menuen) -->
        <nav id="menu">
            <ul>
                <li><a href="/">Hjem</a></li>
                <li><a href="/all-movies">Nuværende Film</a></li>
                <li><a href="/upcoming-movies">Kommende Film</a></li>
            </ul>
        </nav>
    </div>
    <div class="logo">
        <span>KIN</span> <!-- Første del af teksten -->
        <img src="/images/kinoxp.png" alt="O" class="logo-image"> <!-- Logo som 'O' -->
        <span>XP</span> <!-- Anden del af teksten -->
    </div>

    <div class="login-button">
        <button id="loginBtn">LOG IN</button>
    </div>
</header>